$light-blue: rgba(146, 198, 222, 0.2);  // logo p color
$light-green: rgba(163, 219, 122, 0.2);  // logo w color
$light-yellow: rgba(244, 244, 135, 0.2);  // logo d color

$dark-blue: rgba(146, 198, 222, 1.0);  // logo p color
$dark-green: rgba(163, 219, 122, 1.0);  // logo w color
$dark-yellow: rgba(244, 244, 135, 1.0);  // logo d color

$pink: rgba(249, 194, 173, 0.5);  // pink
$violet: rgba(52, 28, 44, 1.0);  // violet
$light-violet: rgba(52, 28, 44, 0.5);  // violet
$light-purple: rgba(52, 28, 44, 0.1);  // violet

$darker-blue : #52707d; // darker-blue
$hyperlink: rgba(0, 0, 238, 1.0); // hyperlink blue

